<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Yeoman, Start the modern Web development!</title>

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/moon.css" id="theme">
		<link rel="stylesheet" href="css/swiip.css">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

				<section>
					<h1>Yeoman</h1>
					<img src="img/illustration-home-inverted.1f86.png" style="height: 300px; background-color: white;">
					<h3>Start the modern Web development!</h3>
				</section>

				<section>
					<h2>Matthieu Lux</h2>
					<ul>
						<li style="list-style-type: none;">
							<a href="https://twitter.com/Swiip">
								<img src="img/Twitter_logo_blue.png" style="height: 60px; margin-right: 10px;">@Swiip
							</a>
						</li>
						<li style="list-style-type: none;">
							<a href="https://github.com/Swiip">
								<img src="img/GitHub-Mark.png" style="height: 60px; margin-right: 10px;">Swiip
							</a>
						</li>
					</ul>
					<div class="flex-3-row">
						<div>
							<a href="http://zenika.com/">
								<img src="img/logo-zenika.jpg">
							</a>
						</div>
						<div>
							<a href="http://www.meetup.com/LyonJS/">
								<img src="img/logo.png" style="background-color: white;">
							</a>
						</div>
						<div>
							<a href="https://github.com/Swiip/generator-gulp-angular">
								<img src="img/gulp-angular.png" style="background-color: white;">
							</a>
						</div>
					</div>
				</section>

				<section>
					<h2>Disclaimer</h2>
					<h3>Trolls inside</h3>
					<img src="img/trolls.jpg">
				</section>

				<section>
					<h2>Past</h2>
					<img src="img/old-yeoman-logo.png" style="background-color: white; padding: 10px;">
					<pre><code data-trim>
yeoman init      # Initialize and scaffold a new project using generator templates
yeoman build     # Build an optimized version of your app, ready to deploy
yeoman server    # Launch a preview server which will begin watching for changes
yeoman test      # Run a Mocha test harness in a headless PhantomJS

yeoman install   # Install a package from the clientside package registry
yeoman uninstall # Uninstall the package
yeoman update    # Update a package to the latest version
yeoman list      # List the packages currently installed
yeoman search    # Query the registry for matching package names
yeoman lookup    # Look up info on a particular package
					</code></pre>
				</section>

				<section>
					<h2>Present</h2>
					<img src="img/yeoman-logo.png" style="background-color: white; height: 200px;">
					<div class="flex-3-row flex-3-row-padding">
						<div>
							<img src="img/tool-yo.3dcc.png" style="background-color: lightgray;">
							<p>Yo</p>
						</div>
						<div>
							<img src="img/tool-grunt.a10d.png" style="background-color: rgba(251,169,25,1);">
							<p>Grunt</p>
						</div>
						<div>
							<img src="img/tool-bower.2cc5.png" style="background-color: rgba(255,204,47,1);">
							<p>Bower</p>
						</div>
					</div>
				</section>

				<section>
					<h2>Futur</h2>
					<h3>"Opinions are my own"</h3>
					<img src="img/tool-yo.3dcc.png" style="height: 200px; padding: 0 40px; background-color: lightgray;">
				</section>

				<section>
					<h2>Generate code?</h2>
					<ul>
						<li>It's wrong! ... Yes but?</li>
						<li>The build, a special case</li>
						<li>Build processes are more and more complex</li>
						<li>There are more and more tools to integrate</li>
						<li>There is no 2 projects with the same exact needs</li>
					</ul>
					<h3 style="margin-top: 40px;">Generate... then modify!</h3>
				</section>

				<section>
					<h2>The Yeoman "Workflow"</h2>
				</section>

				<section>
					<h2>Warm-up</h2>
					<pre><code data-trim>
$ npm install -g yo bower grunt-cli gulp
$ npm install -g generator-webapp
$ yo
					</code></pre>
					<img src="img/yo.png">
				</section>

				<section>
					<h2>Initiate the project</h2>
					<div class="img-overflow">
						<img src="img/yeoman-run.png">
					</div>
				</section>

				<section>
					<h2>Dev with livereload</h2>
					<div class="img-overflow">
						<img src="img/yeoman-serve.png">
					</div>
				</section>

				<section>
					<h2>Preconfigured tests</h2>
					<div class="img-overflow">
						<img src="img/yeoman-test.png">
					</div>
				</section>

				<section>
					<h3>Optimizrd build process</h3>
					<div class="img-overflow">
						<img src="img/yeoman-build.png">
					</div>
				</section>

				<section>
					<h2>Create a generator</h2>
				</section>

				<section>
					<h2>Create an NPM project</h2>
					<pre><code data-trim>
{
  "name": "generator-name",
  "version": "0.1.0",
  "description": "",
  "files": ["app", "router"],
  "keywords": ["yeoman-generator"],
  "dependencies": {
    "yeoman-generator": "^0.17.3"
  }
}
					</code></pre>
				</section>

				<section>
					<h2>Extends the Generator "class"</h2>
					<pre><code data-trim>
var generators = require('yeoman-generator');

module.exports = generators.Base.extend({
  // The name `constructor` is important here
  constructor: function () {
    // Calling the super constructor is important
    // so our generator is correctly set up
    generators.Base.apply(this, arguments);

    // Next, add your custom code
    // This method adds support for a `--coffee` flag
    this.option('coffee');
  }
});
					</code></pre>
					<a href="https://github.com/yeoman/generator">
						https://github.com/yeoman/generator
					</a>
				</section>

				<section>
					<h2>Inquirer</h2>
					<pre><code data-trim>
module.exports = generators.Base.extend({
  prompting: function () {
    var done = this.async();
    this.prompt({
      type    : 'input',
      name    : 'name',
      message : 'Your project name',
      default : this.appname // Default to current folder name
    }, function (answers) {
      this.log(answers.name);
      done();
    }.bind(this));
  }
})
					</code></pre>
					<a href="https://github.com/sboudrias/inquirer.js">
						https://github.com/sboudrias/inquirer.js
					</a>
				</section>

				<section>
					<h2>Gruntfile editor</h2>
					<pre><code data-trim>
module.exports = generators.Base.extend({
  writing: function () {
    this.gruntfile.insertConfig('compass', '{ foo: "bar" }');
    // output:
    // grunt.initConfig({
    //   compass: {
    //     watch: { watch: true }
    //   }
    // });

    this.gruntfile.registerTask('build', 'compass');
    // output:
    // grunt.registerTask('build', ['compass']);
  }
});
					</code></pre>
					<a href="https://github.com/sboudrias/gruntfile-editor">
						https://github.com/sboudrias/gruntfile-editor
					</a>
				</section>


				<section>
					<h2>File management</h2>
					<pre><code data-trim>
generators.Base.extend({
  writing: function () {
    this.fs.copyTpl(
      this.templatePath('index.html'),
      this.destinationPath('public/index.html'),
      { title: 'Templating with Yeoman' }
    );
  }
});
					</code></pre>
					<a href="https://github.com/sboudrias/mem-fs-editor">
						https://github.com/sboudrias/mem-fs-editor
					</a>
				</section>

				<section>
					<h2>Yosay</h2>
					<img src="img/yosay.png" style="height: 300px;">
					<h3>Essential!</h3>
					<a href="https://github.com/yeoman/yosay">
						https://github.com/yeoman/yosay
					</a>
				</section>

				<section>
					<h2>The generators</h2>
					<img src="img/generator-list.png" style="height: 450px;">
					<p><a href="http://yeoman.io/generators/">http://yeoman.io/generators/</a></p>
				</section>

				<section>
					<h2>The purpose</h2>
					<h3>Start a new project with any technology</h3>
					<img src="img/yo-packages.jpg" style="height: 350px;">
				</section>

				<section>
					<h3>Backend</h3>
					<div class="comparison">
						<div class="main">
							<div style="background-color: #eee;">
								<div>
									<div class="img-container medium">
										<img src="img/express.png">
									</div>
									<p style="color: #353535;">Node.js & Express</p>
								</div>
							</div>
							<div style="background-color: #6db33f;">
								<div>
									<div class="img-container medium">
										<img src="img/spring-boot-project-logo.png">
									</div>
									<p>Spring Boot</p>
								</div>
							</div>
						</div>
						<div class="other">
							<div class="img-container small"><img src="img/golang.png"></div>
							<div class="img-container small"><img src="img/php.png"></div>
							<div class="img-container small"><img src="img/wordpress.png"></div>
						</div>
					</div>
				</section>

				<section>
					<h3>Node.js & Express</h3>
					<pre><code data-trim>
server.all('/frameworks/:_id', function (req, res) {
  MongooseModel.findOne(req.params, function (err, doc) {
    if(err) {
      res.status(500).send('Error', err);
    }
    res.send(doc);
  });
});
					</code></pre>
				</section>

				<section>
					<h3>Spring Boot</h3>
					<pre><code data-trim>
@RestController
@RequestMapping("/api")
public class UserResource {
    @Inject
    private UserRepository userRepository;

    @RequestMapping(value = "/users/{login}",
            method = RequestMethod.GET,
            produces = MediaType.APPLICATION_JSON_VALUE)
    ResponseEntity&lt;User> getUser(@PathVariable String login) {
        return userRepository.findOneByLogin(login)
                .map(user -> new ResponseEntity<>(user, HttpStatus.OK))
                .orElse(new ResponseEntity<>(HttpStatus.NOT_FOUND));
    }
}
					</code></pre>
				</section>

				<section>
					<h3>Framework UI</h3>
					<div class="comparison">
						<div class="main">
							<div style="background-color: #6f5499;">
								<div>
									<div class="img-container medium">
										<img src="img/bootstrap-1.jpg">
									</div>
									<p>Bootstrap</p>
								</div>
							</div>
							<div style="background-color: #00bcd4;">
								<div>
									<div class="img-container medium" style="background-color: #b4e0e1;">
										<img src="img/materialdesign_principles_metaphor.png">
									</div>
									<p>Material Design</p>
								</div>
							</div>
						</div>
						<div class="other">
							<div class="img-container small"><img src="img/yeti.png"></div>
							<div class="img-container small" style="background-color: #3EBCB2;">
								<img src="img/semantic.png">
							</div>
						</div>
					</div>
				</section>

				<section>
					<h3>Bootstrap</h3>
					<pre><code data-trim>
<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>This is a template.</p>
    <p><a class="btn btn-primary btn-lg" href="#">Learn more</a></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta.</p>
      <p><a class="btn btn-default" href="#">View details</a></p>
    </div>
  </div>
</div>
					</code></pre>
				</section>

				<section>
					<h3>Material Design</h3>
					<pre><code data-trim>
&lt;body layout="column">
  <md-toolbar layout="row">
    <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn">
      <span class="visually-hidden">Menu</span>
    </button>
    <h1 class="md-toolbar-tools" layout-align-gt-sm="center">
      Hello World
    </h1>
  </md-toolbar>
  <div layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"></md-sidenav>
    <div layout="column" flex id="content">
      <md-content layout="column" flex class="md-padding">
      </md-content>
    </div>
  </div>
&lt;/body>
					</code></pre>
				</section>

				<section>
					<h3>Framework Web</h3>
					<div class="comparison">
						<div class="main">
							<div style="background-color: #0143A3;">
								<div>
									<div class="img-container medium">
										<img src="img/angular.png">
									</div>
									<p>Angular</p>
								</div>
							</div>
							<div style="background-color: #2d2d2d;">
								<div>
									<div class="img-container medium" style="background-color: #222;">
										<img src="img/react.png">
									</div>
									<p>React</p>
								</div>
							</div>
						</div>
						<div class="other">
							<div class="img-container small"><img src="img/Ember.js_Logo_and_Mascot.png"></div>
							<div class="img-container small"><img src="img/Backbone_logo_logo_only.png"></div>
						</div>
					</div>
				</section>

				<section>
					<h3>Angular</h3>
					<pre><code data-trim>
@Component({selector: 'my-app'})
@Template({inline: '<h1>Hi {{ name }}</h1>'})
// Component controller
class MyAppComponent {
  constructor() {
    this.name = 'Swiip';
  }
}
					</code></pre>
				</section>

				<section>
					<h3>React</h3>
					<pre><code data-trim>
var CommentBox = React.createClass({
  render: function() {
    return (
      <div className="commentBox">
        Hello, world! I am a CommentBox.
      </div>
    );
  }
});
React.render(
  &lt;CommentBox />,
  document.getElementById('content')
);
					</code></pre>
				</section>

				<section>
					<h3>Build</h3>
					<div class="comparison">
						<div class="main">
							<div style="background-color: rgba(251,169,25,1);">
								<div>
									<div class="img-container medium">
										<img src="img/tool-grunt.a10d.png">
									</div>
									<p>Grunt</p>
								</div>
							</div>
							<div style="background-color: #cf4646;">
								<div>
									<div class="img-container medium">
										<img src="img/gulp-logo.png">
									</div>
									<p>Gulp</p>
								</div>
							</div>
						</div>
						<div class="other">
							<div class="img-container small"><img src="img/brunch2.jpeg"></div>
							<div class="img-container small"><img src="img/broccoli-logo-small.generated.png"></div>
							<div class="img-container small"><img src="img/jake.png"></div>
						</div>
					</div>
				</section>

				<section>
					<h3>Grunt</h3>
					<pre><code data-trim>
module.exports = function(grunt) {
  grunt.initConfig({
    jshint: {
      files: ['Gruntfile.js', 'src/**/*.js', 'test/**/*.js']
    },
    watch: {
      files: ['<%= jshint.files %>'],
      tasks: ['jshint']
    }
  });
  grunt.loadNpmTasks('grunt-contrib-jshint');
  grunt.loadNpmTasks('grunt-contrib-watch');
  grunt.registerTask('default', ['jshint']);
};
					</code></pre>
				</section>

				<section>
					<h3>Gulp</h3>
					<pre><code data-trim>
var gulp = require('gulp');
var coffee = require('gulp-coffee');
var concat = require('gulp-concat');
var uglify = require('gulp-uglify');
var sourcemaps = require('gulp-sourcemaps');

gulp.task('scripts', function() {
  return gulp.src([
    'client/js/**/*.coffee',
    '!client/external/**/*.coffee'
  ]).pipe(sourcemaps.init())
      .pipe(coffee())
      .pipe(uglify())
      .pipe(concat('all.min.js'))
    .pipe(sourcemaps.write())
    .pipe(gulp.dest('build/js'));
});
					</code></pre>
				</section>

				<section>
					<h3>Gestion de dépendances</h3>
					<div class="comparison">
						<div class="main">
							<div style="background-color: #FFCC2F;">
								<div>
									<div class="img-container medium">
										<img src="img/bower-logo.png">
									</div>
									<p>Bower</p>
								</div>
							</div>
							<div style="background-color: #cb3837;">
								<div>
									<div class="img-container medium">
										<img src="img/npm.png">
									</div>
									<p>NPM</p>
								</div>
							</div>
						</div>
						<div class="other">
							<div class="img-container small"><img src="img/component.png"></div>
							<div class="img-container small" style="background-color: #EBEBEB;">
								<img src="img/jspmio.png">
							</div>
						</div>
					</div>
				</section>

				<section>
					<h3>Common JS</h3>
					<div class="comparison">
						<div class="main">
							<div style="background-color: #222;">
								<div>
									<div class="img-container medium" style="background-color: #F0F0F0;">
										<img src="img/browserify.png">
									</div>
									<p>Browserify</p>
								</div>
							</div>
							<div style="background-color: white;">
								<div>
									<div class="img-container medium">
										<img src="img/webpack.png">
									</div>
									<p style="color: black;">Webpack</p>
								</div>
							</div>
						</div>
						<div class="other">
							<div class="img-container small"><img src="img/systemjs.png"></div>
							<div class="img-container small"><img src="img/requirejs.png"></div>
						</div>
					</div>
				</section>

				<section>
					<h3>CommonJS</h3>
					<pre><code data-trim>
//example.js

exports.hello = function() {
  return 'Hello World'
};
					</code></pre>
					<pre><code data-trim>
//index.js

var example = require('./example.js');

example.hello();
					</code></pre>
				</section>

				<section>
					<h3>Préprocesseur JS</h3>
					<div class="comparison">
						<div class="main">
							<div style="background-color: #f5da55;">
								<div>
									<div class="img-container medium">
										<img src="img/babel.png">
									</div>
									<p style="color: black;">Babel</p>
								</div>
							</div>
							<div style="background-color: #181a3a;">
								<div>
									<div class="img-container medium">
										<img src="img/coffee-logo.png">
									</div>
									<p>CoffeeScript</p>
								</div>
							</div>
						</div>
						<div class="other">
							<div class="img-container small"><img src="img/typescript.png"></div>
							<div class="img-container small"><img src="img/traceur.png"></div>
						</div>
					</div>
				</section>

				<section>
					<h3>Babel</h3>
					<pre><code data-trim>
import React from 'react';

export default class HelloWorld extends React.Component {
  constructor() {
    this.state = { hello: 'world' };
  }

  render() {
    return (
      <h1>Hello { this.state.hello }!</h1>
    );
  }
});
					</code></pre>
				</section>

				<section>
					<h3>CoffeeScript</h3>
					<pre><code data-trim>
class Animal
  constructor: (@name) ->

class Parrot extends Animal

Animal::rip = true

parrot = new Parrot("Macaw")
alert("This parrot is no more") if parrot.rip
					</code></pre>
				</section>

				<section>
					<h3>JS Linter</h3>
					<div class="comparison">
						<div class="main">
							<div style="background-color: #E6E2D9;">
								<div>
									<div class="img-container medium">
										<img src="img/jshint.png">
									</div>
									<p style="color: black;">JS Hint</p>
								</div>
							</div>
							<div style="background-color: #463fd4;">
								<div>
									<div class="img-container medium">
										<img src="img/eslint.svg" style="width: 100%;">
									</div>
									<p>ES Lint</p>
								</div>
							</div>
						</div>
						<div class="other">
							<div class="img-container small"><img src="img/jscs.png"></div>
						</div>
					</div>
				</section>

				<section>
					<h3>CSS Preprocessor</h3>
					<div class="comparison">
						<div class="main">
							<div style="background-color: #c6538c;">
								<div>
									<div class="img-container medium">
										<img src="img/sass.svg">
									</div>
									<p>Sass</p>
								</div>
							</div>
							<div style="background-color: #1d365d;">
								<div>
									<div class="img-container medium">
										<img src="img/LESS-icon.png">
									</div>
									<p>Less</p>
								</div>
							</div>
						</div>
						<div class="other">
							<div class="img-container small"><img src="img/stylus-logo.png"></div>
						</div>
					</div>
				</section>

				<section>
					<h3>Sass</h3>
					<pre><code data-trim>
#header {
  height: 72px;
  background: $header-background-color;
  @include clearfix;

  h1 {
    color: white;
    @include float-left;
    a {
      @include replace-text("logo.jpg");
      width: 116px;
      height: 72px;
      display: block;
      text-decoration: none;
    }
  }
}
					</code></pre>
				</section>

				<section>
					<h3>Less</h3>
					<pre><code data-trim>
#box {
  a {
    background-color: @primaryColor;
    color: #fff;
    display: block;

    height: @boxHeight;
    width: @boxWidth;
    line-height: @boxHeight;

    text-align: center;
    text-decoration: none;

    .roundedCorners(20px);
    .boxShadow;
  }
}
					</code></pre>
				</section>

				<section>
					<h3>HTML Preprocessor</h3>
					<div class="comparison">
						<div class="main">
							<div style="background-color: #00a86b;">
								<div>
									<div class="img-container medium">
										<img src="img/jade.png">
									</div>
									<p>Jade</p>
								</div>
							</div>
							<div style="background-color: #eaeae1;">
								<div>
									<div class="img-container medium">
										<img src="img/haml.png">
									</div>
									<p style="color: black;">Haml</p>
								</div>
							</div>
						</div>
						<div class="other">
							<div class="img-container small"><img src="img/handlebars-logo.png"></div>
						</div>
					</div>
				</section>

				<section>
					<h3>Jade</h3>
					<pre><code data-trim>
doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo)
         bar(1 + 5)
  body
    h1 Jade - node template engine
    #container.col
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!
      p.
        Jade is a terse and simple templating language with a
        strong focus on performance and powerful features.
					</code></pre>
				</section>

				<section>
					<h3>Haml</h3>
					<pre><code data-trim>
#content
  .left.column
    %h2 Welcome to our site!
    %p= print_information
  .right.column
    = render :partial => "sidebar"
					</code></pre>
				</section>

				<section>
					<h3>Development server</h3>
					<div class="comparison">
						<div class="main">
							<div style="background-color: white;">
								<div>
									<div class="img-container medium">
										<img src="img/connect-livereload.png">
									</div>
									<p style="color: black;">connect-livereload</p>
								</div>
							</div>
							<div style="background-color: #1b2032;">
								<div>
									<div class="img-container medium">
										<img src="img/browsersync.png">
									</div>
									<p>Browser Sync</p>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section>
					<h3>Browser Sync</h3>
					<img src="img/browser-sync-screen.png">
				</section>

				<section>
					<h3>Test frameworks</h3>
					<div class="comparison">
						<div class="main">
							<div style="background-color: #8A4182;">
								<div>
									<div class="img-container medium" style="background-color: #EEEEEE;">
										<img src="img/jasmine.png">
									</div>
									<p>Jasmine</p>
								</div>
							</div>
							<div style="background-color: #8a6343;">
								<div>
									<div class="img-container medium">
										<img src="img/mocha-logo.png">
									</div>
									<p>Mocha</p>
								</div>
							</div>
						</div>
						<div class="other">
							<div class="img-container small"><img src="img/qUnit.png"></div>
						</div>
					</div>
				</section>

				<section>
					<h3>Tests</h3>
					<pre><code data-trim>
describe("A spec using beforeEach and afterEach", function() {
  var foo = 0;

  beforeEach(function() {
    foo += 1;
  });
  afterEach(function() {
    foo = 0;
  });

  it("is just a function, so it can contain any code", function() {
    expect(foo).toEqual(1);
  });
  it("can have more than one expectation", function() {
    expect(foo).toEqual(1);
  });
});
					</code></pre>
				</section>

				<section>
					<h3>Test tools</h3>
					<div class="comparison">
						<div class="main">
							<div style="background-color: #00AEC8;">
								<div>
									<div class="img-container medium">
										<img src="img/karma.png">
									</div>
									<p>Karma</p>
								</div>
							</div>
							<div style="background-color: #007000;">
								<div>
									<div class="img-container medium">
										<img src="img/istanbul.png">
									</div>
									<p>Istanbul</p>
								</div>
							</div>
						</div>
						<div class="other">
							<div class="img-container small"><img src="img/protractor-logo.png"></div>
						</div>
					</div>
				</section>

				<section>
					<h3>Karma</h3>
					<pre><code data-trim>
[18:07:20] Starting 'test'...
INFO [karma]: Karma v0.12.31 server started at http://localhost:9876/
INFO [launcher]: Starting browser PhantomJS
WARN [watcher]: Pattern "/Users/Swiip/Workspace/Sandbox/gulp-angular/src/**/*.mock.js" does not match any file.
INFO [PhantomJS 1.9.8 (Mac OS X)]: Connected on socket kupuXHYFbdMl74Vi5xS2 with id 47216180
PhantomJS 1.9.8 (Mac OS X): Executed 1 of 1 SUCCESS (0.004 secs / 0.016 secs)
[18:07:23] Finished 'test' after 2.87 s
					</code></pre>
				</section>

				<section>
					<h3>Istanbul</h3>
					<pre><code data-trim>
=============================================================================
Writing coverage object [/Users/Swiip/Workspace/GitHub/generator-gulp-angular/coverage/coverage.json]
Writing coverage reports at [/Users/Swiip/Workspace/GitHub/generator-gulp-angular/coverage]
=============================================================================

=============================== Coverage summary ===============================
Statements   : 100% ( 667/667 )
Branches     : 100% ( 308/308 )
Functions    : 100% ( 94/94 )
Lines        : 100% ( 667/667 )
================================================================================
					</code></pre>
				</section>

				<section>
					<img src="img/demo.jpg">
				</section>

				<section>
					<h1>THE END</h1>
				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'fade', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

			Reveal.addEventListener( 'max', function() {
				document.querySelector('.slides').setAttribute('style', '');
				document.querySelector('.present').setAttribute('style', '');
			} );

		</script>

	</body>
</html>
